<% if weather.present? %>
  <%= render Core::DropdownComponent.new(title: 'weather', box_class: 'flex text-sm p-2') do %>
    <%= render Sub::WeatherComponent.new(weather:) %>
  <% end %>
<% end %>

<% if airports.present? %>
  <%= render Core::DropdownComponent.new(title: 'airports', box_class: 'flex flex-wrap text-sm') do %>
    <%= render Sub::PlaceComponent.with_collection airports %>
  <% end %>
<% end %>

<% if hospitals.present? %>
  <%= render Core::DropdownComponent.new(title: 'hospitals', box_class: 'flex flex-wrap text-sm') do %>
    <%= render Sub::PlaceComponent.with_collection hospitals %>
  <% end %>
<% end %>

<% if parks.present? %>
  <%= render Core::DropdownComponent.new(title: 'parks', box_class: 'p-2') do %>
    <%= render Sub::ParkComponent.with_collection(parks, saved:) %>
  <% end %>
<% end %>

<% { activities:, restaurants: }.each do |title, collection| %>
  <% unless collection.blank? || collection.values.all?([]) %>
    <%= render Core::DropdownComponent.new(title: title.capitalize, box_class: 'p-2') do %>
      <% collection.each do |category, items| %>
        <%= render Sub::CategoryComponent.new(items:, category:, saved:) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if saved %>
  <%= form_with url: itinerary_path(itinerary), method: :delete do |form| %>
    <p class='py-2 text-center'><%= form.submit 'Delete',
                                                data: { turbo: false },
                                                class: 'blue-btn' %></p>
  <% end %>
<% elsif user %>
  <%= form_with url: itineraries_path, method: :post do |form| %>
    <%= form.hidden_field :search, value: search %>
    <p class='py-2 text-center'><%= form.submit 'Save',
                                                data: { turbo: false },
                                                class: 'blue-btn' %></p>
  <% end %>
<% end %>
