<%= render Core::DropdownComponent.new(title: 'plan', box_class: 'p-4') do %>
  <% if itinerary&.plan %>
      <%= tag.div class: 'contentbox gpt p-4' do %>
        <%= itinerary.plan.response.html_safe %>
      <% end %>

  <% else %>
    <%= tag.div class: 'p-4 text-center' do %>
      <p>You have not created a trip plan for this itinerary yet!</p>
      <p>Click below to generate a play-by-play suggested outline for your trip with ChatGPT.</p>
    <% end %>
  <% end %>

  <%= tag.div class: 'p-4 text-center warning' do %>
    <%= tag.p "Remaining Credit: #{user&.credit}" %>
    <%= tag.p 'Add your own OpenAI key to continue.' if user&.credit <= 0 && user&.openai_key.blank? %>
  <% end %>

  <% button_text = itinerary&.plan.present? ? 'Update' : 'Create' %>
  <%= form_with url: itinerary_path(itinerary), method: :patch do |form| %>
    <p class='text-center'><%= form.submit "#{button_text} Plan",
                                            data: { turbo: false },
                                            class: 'btn' %></p>
  <% end %>
<% end %>
