<%= tag.div class: 'mt-4 sm:mt-0 h-[65vh] sm:h-[75vh] overflow-y-auto p-2 sm:pt-4' do %>
  <% if itinerary.plan %>
    <%= tag.div class: 'contentbox gpt p-4 mb-4' do %>
      <%= itinerary.plan.response.html_safe %>
    <% end %>
  <% else %>
    <%= tag.div class: 'p-4 text-center mb-4' do %>
      <p>You have not created a trip plan for this itinerary yet!</p>
      <%= tag.p 'Click below to generate a day-by-day play-by-play suggested outline for your trip.' if user.credit_left? %>
    <% end %>
  <% end %>

  <% if !user.subscribed? || user.canceled? %>
    <%= tag.div class: 'p-2 text-center warning mb-2' do %>
      <%= tag.p "Remaining Credit: #{user.credit}" %>
      <%= tag.p 'Become a member or purchase credit to continue.' if !user.credit_left? %>
    <% end %>
  <% end %>

  <% if user.credit_left? %>
    <% button_text = itinerary.plan.present? ? 'Update' : 'Create' %>
    <%= form_with url: itinerary_path(itinerary), method: :patch, class: 'text-center' do |form| %>
      <%= render Sub::LoadingModalComponent.new(trigger: (form.submit "#{button_text} Plan",
                                                          data: { turbo: false },
                                                          class: 'btn')) %>

    <% end %>
  <% else %>
    <%= tag.div class: 'flex justify-center space-x-2' do %>
      <%= button_to '+10 Credit', checkout_path(mode: 'payment', email: user.email),
                                  class: 'btn text-nowrap mb-2 sm:mb-0', data: { turbo: false } %>
      <%= button_to 'Subscribe', checkout_path(mode: 'subscription', email: user.email),
                                  class: 'btn', data: { turbo: false } %>
    <% end %>
  <% end %>
<% end %>
