<%= render Core::CarouselComponent.new do %>
  <%= turbo_frame_tag 'home' do %>
    <%= tag.div class: 'p-4 max-h-[85vh]' do %>
      <%= tag.h1 'Itineraries', class: 'text-center mb-4' %>

      <% if @itineraries.blank? %>
        <%= tag.div class: 'text-center p-4' do %>
          Looks like your travel plans are still up in the air! Click
          <%= link_to 'here', root_path, class: 'font-bold' %> to craft an itinerary.
        <% end %>
      <% end %>

      <%= tag.div class: 'grid max-h-[65vh] overflow-y-auto grid-cols-1 sm:grid-cols-2 gap-4 mb-4' do %>
        <% @itineraries.each do |itinerary| %>
          <%= tag.div class: 'bg-white bg-opacity-50 rounded-lg shadow-lg p-2' do %>
            <%= tag.h5 class: 'text-lg font-semibold truncate' do %>
              <%= link_to itinerary.city, itinerary_path(itinerary), data: { turbo: false } %>
            <% end %>
            <%= tag.div class: 'flex justify-between' do %>
              <% if itinerary.start_date && itinerary.end_date %>
                <p class='text-sm text-slate-500'><%= itinerary.start_date %> - <%= itinerary.end_date %></p>
              <% end %>
              <p class='text-sm text-slate-500'><%= itinerary.created %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= tag.div class: 'pl-4' do %>
        <%= paginate @itineraries %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
