<%= content_tag :div, class: 'lg:flex items-center' do %>
  <%= content_tag :div, class: 'w-full lg:w-3/5' do %>
    <%= content_tag :div, class: 'bg-white bg-opacity-70 rounded-xl sm:rounded-none sm:rounded-tl-xl' do %>
      <%= turbo_frame_tag 'home' do %>
        <div class='p-4 text-center'>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
            <div class='mb-2'>
              <%= render 'devise/shared/error_messages', resource: %>
            </div>
            
            <h1 class='text-3xl font-bold'>Edit User</h1>
              <br>
              <div class='lg:flex'>
                <div class='lg:w-1/2 lg:pr-1'>
                  <%= form.email_field      :email,
                                            placeholder: 'Email',
                                            class: 'w-full h-8 mb-2 rounded',
                                            autofocus: true,
                                            autocomplete: 'email',
                                            required: true %>
                </div>
                <div class='lg:w-1/2 lg:px-1'>
                  <%= form.password_field   :password,
                                            placeholder: 'Password',
                                            class: 'w-full h-8 mb-2 rounded',
                                            autocomplete: 'new-password',
                                            required: true %>
                </div>
                <div class='lg:w-1/2 lg:px-1'>
                  <%= form.password_field   :password_confirmation,
                                            placeholder: 'Password confirmation',
                                            class: 'w-full h-8 mb-2 rounded',
                                            autocomplete: 'new-password',
                                            required: true %>
                </div>
                <div class='lg:w-1/2 lg:pl-1'>
                  <%= form.password_field   :current_password,
                                            placeholder: 'Current password',
                                            class: 'w-full h-8 mb-2 rounded',
                                            autocomplete: 'current-password',
                                            required: true %>
                </div>
              </div>
            <div class='text-center'>
              <%= form.submit 'Update', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded' %>
            </div>
          <% end %>

          <div class='m-2'>
            <div>Unhappy? <%= button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' }, method: :delete %></div>

            <%= link_to 'Back', :back %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, class: 'hidden lg:block lg:w-2/5' do %>
    <%= render Core::CarouselComponent.new %>
  <% end %>
<% end %>
