<%= render Core::CarouselComponent.new do %>
  <%= turbo_frame_tag 'home' do %>
    <div class='p-4 text-center'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
        <div class='m-2 error'><%= render 'devise/shared/error_messages', resource: %></div>

        <h1 class='text-3xl font-bold'>Sign Up</h1>
          <br>
          <div class='lg:flex'>
            <div class='lg:w-1/2 lg:pr-1'>
              <%= form.text_field       :name,
                                        placeholder: 'Name',
                                        class: 'w-full h-8 mb-2 rounded',
                                        autofocus: true,
                                        required: true %>
            </div>
            <div class='lg:w-1/2 lg:pl-1'>
              <%= form.email_field      :email,
                                        placeholder: 'Email',
                                        class: 'w-full h-8 mb-2 rounded',
                                        autocomplete: 'email',
                                        required: true %>
            </div>
          </div>
          <div class='lg:flex'>
            <div class='lg:w-1/2 lg:pr-1'>
              <%= form.password_field   :password,
                                        placeholder: 'Password',
                                        class: 'w-full h-8 mb-2 rounded',
                                        autocomplete: 'new-password',
                                        required: true %>
            </div>
            <div class='lg:w-1/2 lg:pl-1'>
              <%= form.password_field   :password_confirmation,
                                        placeholder: 'Password confirmation',
                                        class: 'w-full h-8 mb-2 rounded',
                                        autocomplete: 'new-password',
                                        required: true %>
            </div>
          </div>
        <div>
          <%= form.submit 'Sign Up', class: 'blue-btn', data: { turbo: false } %>
        </div>
      <% end %>
      <div class='m-2'>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  <% end %>
<% end %>
