<div id="business" class="p-2">
  <% if !business.thumbnail.blank? %>
    <img class="image-format m-2" src="<%= business.thumbnail %>">
  <% end %>
  <h3 class="text-slate-500 m-2 hover:text-slate-700"><b><%= link_to business.name, business.url %></b></h5>
  <p class="m-2"><b>Rating: </b><%= business.rating %></p>
  <%= content_tag :p, "<b>Price: </b>#{business.price}".html_safe, class: 'm-2' if business.price %>
  <p class="m-2"><b>Categories: </b><%= business.categories %></p>
  <p class="m-2"><b>Location: </b><%= business.location %></p>
  <p class="m-2"><b>Phone: </b><%= business.phone %></p>
  <p class="m-2"><%= button_to "Remove #{business.name}", business_path(business), method: :delete, class: 'text-slate-500 m-2 hover:text-slate-700' if saved %></p>
</div>
