<div id="business" class="p-2">
  <% if !business.thumbnail.blank? %>
    <img id="image-format" class="m-2" src="<%= business.thumbnail %>">
  <% end %>
  <h3 class="text-gray-500 m-2"><b><%= link_to business.name, business.url %></b></h5>
  <p class="m-2"><b>Rating: </b><%= business.rating %></p>
  <p class="m-2"><b>Price: </b><%= business.price %></p>
  <p class="m-2"><b>Categories: </b><%= business.categories %></p>
  <p class="m-2"><b>Location: </b><%= business.address %></p>
  <p class="m-2"><b>Phone: </b><%= business.phone %></p>
  <p class="m-2"><%= button_to "Remove #{business.name}", business_path(business), method: :delete, class: 'text-gray-500 m-2' if saved %></p>
</div>