<div class='row bg-white bg-opacity-70 rounded-xl'>
  <div class='col-lg p-4'>
  
    <h1><b><%= "#{city} Itinerary" %></b></h1><br>

    <% if airports&.count.to_i > 0 %>
      <h3><b>Airports</b></h3>
      <div id='airports' class='flex flex-wrap text-sm'>
        <% airports.each do |airport| %>
          <%= render AirportComponent.new airport: airport %>
        <% end %>
      </div>
    <% end %>

    <% if parks&.count.to_i > 0 %>
      <div id='parks'>
        <h3><b>Parks</b></h3>
        <% parks.each do |park| %>
          <%= render ParkComponent.new park: park, saved: saved %>
        <% end %>
      </div>
    <% end %>

    <% if businesses&.count.to_i > 0 %>
      <div id='businesses'>
        <h3><b>Businesses</b></h3>
        <% businesses.each do |business| %>
          <%= render BusinessComponent.new business: business, saved: saved %>
        <% end %>
      </div>
    <% end %>

    <% if saved %>
      <%= button_to 'Delete', itinerary_path(id), method: :delete,
            class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2' %>
    <% else %>
      <%= form_with url: itineraries_path, method: :post do |f| %>
        <%= f.hidden_field :search, value: search %>
        <p><%= f.submit 'Save Itinerary' %></p>
      <% end %>
      <%= link_to 'Search Again', root_path %>
    <% end %>
  </div>
</div>
