<%= content_tag :div, class: 'lg:flex items-center' do %>
  <%= content_tag :div, class: 'w-full lg:w-3/5' do %>
    <%= content_tag :div, class: 'bg-white bg-opacity-70 rounded-xl sm:rounded-none sm:rounded-tl-xl' do %>
      <%= turbo_frame_tag 'home' do %>
        <div class='p-4 text-center'>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form| %>
            <div class='m-2 error'><%= render 'devise/shared/error_messages', resource: %></div>

            <h1 class='text-3xl font-bold'>Reset password</h1>
              <br>
              <div class='lg:flex'>
                <div class='lg:w-1/2 lg:pr-1'>
                  <%= form.password_field   :password,
                                            placeholder: 'New password',
                                            class: 'w-full h-8 mb-2 rounded',
                                            autofocus: true,
                                            autocomplete: 'new-password',
                                            required: true %>
                </div>
                <div class='lg:w-1/2 lg:pl-1'>
                  <%= form.password_field   :password_confirmation,
                                            placeholder: 'Confirm new password',
                                            class: 'w-full h-8 mb-2 rounded',
                                            autocomplete: 'new-password',
                                            required: true %>
                </div>
              </div>

              <%= form.hidden_field :reset_password_token %>
            <div class='text-center'>
              <%= form.submit 'Confirm', class: 'blue-btn', data: { turbo: false } %>
            </div>
          <% end %>
          <div class='m-2'>
            <%= render 'devise/shared/links' %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, class: 'hidden lg:block lg:w-2/5' do %>
    <%= render Core::CarouselComponent.new %>
  <% end %>
<% end %>
