<div class='p-4 text-center'>
  <%= form_with url: keys_path, method: :patch do |form| %>
    <h1 class='text-3xl font-bold mb-4'>Keys</h1>
    <p class='mb-2'>Rest assured, your keys will be securely stashed away.</p>
    <div>
      <p><%= form.label :trailapi, 'TrailAPI', class: 'font-bold' %></p>
      <p><%= form.password_field :trailapi,
                                 placeholder: 'TrailAPI key',
                                 value: current_user.trailapi_key,
                                 class: 'w-full sm:w-1/2 h-8 mb-2 rounded' %></p>
    </div>
    <div>
      <p><%= form.label :openai, 'OpenAI', class: 'font-bold' %></p>
      <p><%= form.password_field :openai,
                                 placeholder: 'OpenAI key',
                                 value: current_user.openai_key,
                                 class: 'w-full sm:w-1/2 h-8 mb-2 rounded' %></p>
    </div>

    <div>
      <%= form.submit 'Update', class: 'blue-btn mt-4', data: { turbo: false } %>
    </div>
  <% end %>
</div>
