<%= content_tag :div, class: 'lg:flex items-center' do %>
  <%= content_tag :div, class: 'w-full lg:w-3/5' do %>
    <%= content_tag :div, class: 'bg-white bg-opacity-70 rounded-xl sm:rounded-none sm:rounded-tl-xl' do %>
      <%= turbo_frame_tag 'home' do %>
        <div class="p-4 text-center">
          <h1 class="text-3xl">Welcome to <b>Skedaddle</b></h1>
          <br>
          <p>We're here to help you find the best places to visit and plan your next trip.</p>
          <br>
          <p>Whether you're in search of hidden gems or popular hotspots, Skedaddle is your passport to discovering the best destinations and crafting the perfect itinerary.</p>
          <br>
          <p>If you're new, log in using your <b>Google account</b>.</p>
          <p>If you've traveled with us before, welcome back!</p>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag :div, class: 'hidden lg:block lg:w-2/5' do %>
    <%= render CarouselComponent.new %>
  <% end %>
<% end %>
