<div class="md:flex md:items-center mb-4">
  <div class="md:pr-10">
    <h1 class="text-3xl font-bold">About Us</h1>
    <p class="text-xl m-2">This is our submission for Turing's Back End Software Engineering and Design, Module 3's Consultancy Project. This project features a front and back end, and consumes multiple API endpoints.</p>
  </div>
</div>

<div>
  <div class="mb-4">
    <h1 class="text-3xl font-bold">Our team</h1>
  </div>

  <div class="mt-4 md:flex md:-mx-1">
    <div class="flex md:w-1/3 md:px-4 mb-8">
      <div class="py-4 px-4 text-center opaque-bg">
        <%= image_tag 'drew.jpg', class: 'w-32 h-32 rounded-full mb-3' %>
        <p class="text-lg font-bold">Drew</p>
        <ul class="mt-2 text-sm">
          <li class="mb-1"><a href="https://github.com/dmacnicholas">Github</a></li>
          <li><a href="https://www.linkedin.com/in/drew-macnicholas-20b75660/">LinkedIn</a></li>
        </ul>
      </div>
    </div>

    <div class="flex md:w-1/3 md:px-4 mb-8">
      <div class="py-4 px-4 text-center opaque-bg">
        <%= image_tag 'eli.jpg', class: 'w-32 h-32 rounded-full mb-3' %>
        <p class="text-lg font-bold">Eli</p>
        <ul class="mt-2 text-sm">
          <li class="mb-1"><a href="https://github.com/easachs">Github</a></li>
          <li><a href="https://www.linkedin.com/in/easachs/">LinkedIn</a></li>
        </ul>
      </div>
    </div>

    <div class="flex md:w-1/3 md:px-4 mb-8">
      <div class="py-4 px-4 text-center opaque-bg">
        <%= image_tag 'wes.jpg', class: 'w-32 h-32 rounded-full mb-3' %>
        <p class="text-lg font-bold">Wes</p>
        <ul class="mt-2 text-sm">
          <li class="mb-1"><a href="https://github.com/wes30303">Github</a></li>
          <li><a href="https://www.linkedin.com/in/wesley-miranda-80a725196/">LinkedIn</a></li>
        </ul>
      </div>
    </div>

    <div class="flex md:w-1/3 md:px-4 mb-8">
      <div class="py-4 px-4 text-center opaque-bg">
        <%= image_tag 'john.jpg', class: 'w-32 h-32 rounded-full mb-3' %>
        <p class="text-lg font-bold">John</p>
        <ul class="mt-2 text-sm">
          <li class="mb-1"><a href="https://github.com/JohnSantosuosso">Github</a></li>
          <li><a href="https://www.linkedin.com/in/john-santosuosso/">LinkedIn</a></li>
        </ul>
      </div>
    </div>

    <div class="flex md:w-1/3 md:px-4 mb-8">
      <div class="py-4 px-4 text-center opaque-bg">
        <%= image_tag 'nick.jpg', class: 'w-32 h-32 rounded-full mb-3' %>
        <p class="text-lg font-bold">Nick</p>
        <ul class="mt-2 text-sm">
          <li class="mb-1"><a href="https://github.com/nlj77">Github</a></li>
          <li><a href="https://www.linkedin.com/in/nickolas-jones-523b66b7/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
