<% if current_user || params[:demo] %>
  <%= render Core::SearchComponent.new %>
<% else %>
  <%= tag.div class: 'p-4 text-center text-sm sm:text-base' do %>
    <%= tag.h1 'Welcome to Skedaddle', class: 'mb-2' %>
    <%= tag.p "We're here to help you plan your next trip.", class: 'mb-2' %>
    <%= tag.p "Whether you're in search of hidden gems or popular hotspots, Skedaddle is your passport to discovering
      the best destinations and crafting the perfect itinerary.", class: 'mb-4' %>

    <%= tag.h3 'Custom Itineraries', class: 'font-bold' %>
    <%= tag.p 'Personalized recommendations based on your preferences and interests, ensuring that you
      have the best trip possible.', class: 'mb-4' %>

    <%= tag.h3 'Save Time and Stress', class: 'font-bold' %>
    <%= tag.p 'Take the hassle out of travel planning with all the information you need in one place.', class: 'mb-4' %>

    <%= tag.div class: 'flex justify-center gap-4 mb-4 text-xs' do %>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn white-btn big-btn', data: { turbo: false } %>
      <%= link_to 'Register', new_user_registration_path, class: 'btn white-btn big-btn', data: { turbo: false } %>

      <%= button_to user_google_oauth2_omniauth_authorize_path,
                    form: { class: 'inline-block' },
                    data: { turbo: false },
                    class: 'btn white-btn big-btn' do %>
        <%= image_tag 'google.svg', alt: 'Google', class: 'h-3 w-3 sm:h-5 sm:w-5' %>
        <span>Sign In</span>
      <% end %>
    <% end %>

    <%= tag.p do %>
      Got any questions? Please don't hesitate to
      <%= link_to 'contact', contact_path, class: 'font-bold text-slate-600 hover:text-slate-700' %> us directly.
    <% end %>
  <% end %>
<% end %>
