<%= render Core::CarouselComponent.new do %>
  <%= turbo_frame_tag 'home' do %>
    <div class='p-4 text-center'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
        <div class='m-2'></div>
        <h1 class='text-3xl font-bold mb-4'>Sign In</h1>
        <div>
          <%= form.email_field      :email,
                                    placeholder: 'Email',
                                    class: 'w-full sm:w-2/3 h-8 mb-2 rounded',
                                    autofocus: true,
                                    autocomplete: 'email',
                                    required: true %>
        </div>
        <div>
          <%= form.password_field   :password,
                                    placeholder: 'Password',
                                    class: 'w-full sm:w-2/3 h-8 mb-2 rounded',
                                    autocomplete: 'current-password',
                                    required: true %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class='mb-2'>
            <%= form.check_box :remember_me %>
            <%= form.label :remember_me %>
          </div>
        <% end %>

        <div>
          <%= form.submit 'Sign In', class: 'blue-btn mt-4', data: { turbo: false } %>
        </div>
      <% end %>
      <div class='m-2'>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  <% end %>
<% end %>
