<h1 class="text-3xl font-bold">Contact</h1>
<p class="text-xl m-2 mb-4">Do you have any questions? Please don't hesitate to contact us directly.</p>

<%= form_with url: contact_path, method: 'post', class: 'p-4 opaque-bg' do |form| %>
  <div>
    <%= form.label :name, class: 'font-bold' %>
    <%= form.text_field :name, class: 'w-full mb-2' %>
  </div>
  <div>
    <%= form.label :email, class: 'font-bold' %>
    <%= form.email_field :email, class: 'w-full mb-2' %>
  </div>
  <div>
    <%= form.label :subject, class: 'font-bold' %>
    <%= form.text_field :subject, class: 'w-full mb-2' %>
  </div>
  <div>
    <%= form.label :message, class: 'font-bold' %>
    <%= form.text_area :message, rows: 5, class: 'w-full mb-2' %>
  </div>
  <div class="text-center mt-2">
    <%= form.submit "Send", class: 'btn' %>
  </div>
<% end %>
