<%= content_tag :div, id: 'business', class: 'p-2' do %>
  <%= link_to business.name, business.url, class: 'font-bold m-2' %>
  <%= image_tag business.thumbnail, class: 'image-format m-2', style: 'height: 125px;' if business.thumbnail.present? %>
  <p class="m-2"><b>Rating: </b><%= business.rating %></p>
  <%= content_tag :p, safe_join([content_tag(:b, 'Price: '), business.price]), class: 'm-2' if business.price.present? %>
  <p class="m-2"><b>Categories: </b><%= business.categories %></p>
  <p class="m-2"><b>Location: </b><%= business.location %></p>
  <%= content_tag :p, safe_join([content_tag(:b, 'Phone: '), business.phone]), class: 'm-2' if business.phone.present? %>
  <%= button_to "Remove #{business.name}", business_path(business), method: :delete, class: 'm-2' if saved %>
<% end %>
