<%= tag.div id: "business-#{business.name.parameterize}", class: 'contentbox relative mb-4 sm:mb-6 p-4 lg:min-h-72' do %>
  <%= tag.div class: 'sm:text-base' do %>
    <%= render(Sub::ZoomComponent.new) { business.thumbnail } if business.thumbnail.present? %>
    <%= link_to business.name, business.url, class: 'font-bold my-2' %>
    <p class='my-2'><b>Rating: </b><%= business.rating %></p>
    <%= tag.p safe_join([tag.b('Price: '), business.price]), class: 'my-2' if business.price.present? %>
    <p class='my-2'><b>Categories: </b><%= business.categories %></p>
    <p class='my-2'><b>Location: </b><%= business.location %></p>
    <%= tag.p safe_join([tag.b('Phone: '), business.phone]), class: 'my-2' if business.phone.present? %>
    <%= render Sub::RemovalModalComponent.new(trigger_class: 'lg:p-4 lg:absolute bottom-0 right-0',
                                              removal_path: business_path(business)) if saved %>
  <% end %>
<% end %>
