<%= tag.div id: "business-#{business.name.parameterize}", class: 'relative mb-4 sm:mb-6 bg-white bg-opacity-50 rounded-lg shadow-lg p-4 lg:min-h-72' do %>
  <%= tag.div class: 'text-sm sm:text-base' do %>
    <%= render(Core::ZoomComponent.new) { business.thumbnail } if business.thumbnail.present? %>
    <%= link_to business.name, business.url, class: 'font-bold my-2' %>
    <p class='my-2'><b>Rating: </b><%= business.rating %></p>
    <%= tag.p safe_join([tag.b('Price: '), business.price]), class: 'my-2' if business.price.present? %>
    <p class='my-2'><b>Categories: </b><%= business.categories %></p>
    <p class='my-2'><b>Location: </b><%= business.location %></p>
    <%= tag.p safe_join([tag.b('Phone: '), business.phone]), class: 'my-2' if business.phone.present? %>
    <%= button_to 'Remove', business_path(business), method: :delete, class: 'lg:mb-2 lg:p-4 lg:absolute bottom-0 right-0' if saved %>
  <% end %>
<% end %>
