<%= tag.div id: "park-#{park.name.parameterize}", class: 'contentbox relative mb-4 p-4' do %>
  <%= tag.div class: 'sm:text-base' do %>
    <%= render(Sub::ZoomComponent.new) { park.thumbnail } if park.thumbnail.present? %>
    <%= link_to park.name, park.url, class: 'font-bold my-2' %>
    <p class='my-2'><b>Location: </b><%= park.location %></p>
    <p class='my-2'><b>Description: </b><%= truncate(park.description, length: 1000) %></p>
    <p class='my-2'><b>Directions: </b><%= park.directions %></p>
    <p class='my-2'><b>Activities: </b><%= park.activities %></p>
    <%= render Sub::RemovalModalComponent.new(trigger_class: 'p-4 absolute bottom-0 right-0',
                                              removal_path: park_path(park)) if saved %>
  <% end %>
<% end %>
