<%= tag.div id: "park-#{park.name.parameterize}", class: 'relative mb-4 sm:mb-6 bg-white bg-opacity-50 rounded-lg shadow-lg p-4' do %>
  <%= tag.div class: 'text-sm sm:text-base' do %>
    <%= render(Core::ZoomComponent.new) { park.thumbnail } if park.thumbnail.present? %>
    <%= link_to park.name, park.url, class: 'font-bold my-2' %>
    <p class='my-2'><b>Location: </b><%= park.location %></p>
    <p class='my-2'><b>Description: </b><%= truncate(park.description, length: 1000) %></p>
    <p class='my-2'><b>Directions: </b><%= park.directions %></p>
    <p class='my-2'><b>Activities: </b><%= park.activities %></p>
    <%= button_to 'Remove', park_path(park), method: :delete, class: 'lg:mb-2 lg:p-4 lg:absolute bottom-0 right-0' if saved %>
  <% end %>
<% end %>
