<%= tag.div class: 'grid grid-cols-3 sm:grid-cols-5 text-xs sm:text-sm text-slate-500 p-2 sm:px-10',
                      data: { controller: 'checkbox' } do %>
  <% data.each_slice(size).each do |slice| %>
    <%= tag.div class: 'w-1/2 sm:w-1/4' do %>
      <% slice.each do |name, value| %>
        <%= tag.p title: name do %>
          <%= check_box_tag "#{prefix}[#{name}]", value, false, class: 'hidden', data: { checkbox_target: 'checkbox' } %>
          <%= label_tag "#{prefix}[#{name}]", name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <p><%= check_box_tag "select_all_#{prefix}", true, false, class: 'hidden', data: { checkbox_target: 'source',
                                                                                     action: 'change->checkbox#toggle' } %>
  <%= label_tag "select_all_#{prefix}", 'Select all' %></p>
<% end %>
