<%= tag.div class: 'fixed z-10 top-0 left-0 flex bg-white justify-between items-center w-full' do %>
  <%= tag.div class: 'ml-2 sm:ml-0' do %>
    <%= link_to root_path, data: { turbo_frame: 'home' } do %>
      <%= image_tag 'icon.png', alt: 'Skedaddle', class: 'h-5 w-5 mx-2 float-left' %>
    <% end %>
    <%= link_to 'Itineraries', itineraries_path, data: { turbo_frame: 'home' },
                                                 class: 'hidden sm:inline p-2' if current_user %>
    <%= link_to 'Discover', posts_path, data: { turbo_frame: 'home' },
                                                 class: 'hidden sm:inline p-2' %>

    <%= tag.span class: 'text-sm', data: { controller: 'error' } do %>
      <% flash.each do |name, msg| %>
        <%= tag.span msg, class: 'm-2 warning', data: { error_target: 'error' } %>
      <% end %>
    <% end %>
  <% end %>

  <%= tag.div class: 'hidden sm:flex justify-between items-center', data: { controller: 'dropdown' } do %>
    <%= tag.div id: 'dash', class: 'flex sm:text-base', data: { dropdown_target: 'content' } do %>
      <%= link_to 'Account',
                  edit_user_registration_path,
                  data: { turbo_frame: 'home' },
                  class: 'p-2' if current_user %>
      <%= button_to 'Sign Out',
                    destroy_user_session_path,
                    method: :delete,
                    form: { style: 'display: inline;' },
                    class: 'p-2' if current_user %>
      <%= link_to 'Sign In', new_user_session_path, data: { turbo_frame: 'home' }, class: 'p-2' unless current_user %>
    <% end %>

    <div class='cursor-pointer p-2' data-action='click->dropdown#toggle' role='button'>
      &#9776;
    </div>
  <% end %>

  <%= tag.div class: 'flex sm:hidden justify-between items-center p-2' do %>
    <%= link_to posts_path, data: { turbo_frame: 'home' } do %>
      <%= image_tag 'dash/discover.svg', alt: 'Discover', class: 'h-5 w-5 mx-2' %>
    <% end %>
    <% if current_user %>
      <%= link_to itineraries_path, data: { turbo_frame: 'home' } do %>
        <%= image_tag 'dash/itineraries.svg', alt: 'Itineraries', class: 'h-5 w-5 mx-2' %>
      <% end %>
      <%= link_to edit_user_registration_path, data: { turbo_frame: 'home' } do %>
        <%= image_tag 'dash/account.svg', alt: 'Account', class: 'h-5 w-5 mx-2' %>
      <% end %>
      <%= button_to destroy_user_session_path, method: :delete, form: { style: 'display: flex;' } do %>
        <%= image_tag 'dash/signout.svg', alt: 'Sign Out', class: 'h-5 w-5 mx-2' %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, data: { turbo_frame: 'home' } do %>
        <%= image_tag 'dash/signin.svg', alt: 'Sign In', class: 'h-5 w-5 mx-2' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
