<%= tag.div class: 'mb-2', data: { controller: 'dropdown' } do %>
  <%= tag.div class: 'flex' do %>
    <div class='cursor-pointer select-none' data-action='click->dropdown#toggle' role='button'>
      &#9776;
    </div>
    <%= tag.h3 title.capitalize, class: 'font-bold text-base sm:text-lg ml-2' %>
  <% end %>

    <%= tag.div id: title, class: box_class, data: { dropdown_target: 'content' } do %>
      <%= content %>
    <% end %>
<% end %>
