<% key = ENV.fetch('GOOGLE_MAPS_KEY', nil) %>
<%= tag.script(nil, src: "https://maps.googleapis.com/maps/api/js?key=#{key}&libraries=places&callback=initAutocomplete",
               defer: true, data: { turbo: false }) %>

<%= tag.div class: 'overflow-y-auto p-4' do %>
  <%= form_with url: prepare_itineraries_path, data: { controller: 'search' } do |form| %>
    <%= tag.div class: 'py-2' do %>
      <%= tag.div class: 'flex flex-wrap justify-between items-center mb-2' do %>
        <%= search_field_tag  :search, nil,
                              placeholder: 'Enter a destination',
                              class: 'w-2/3 text-xs sm:text-sm rounded sm:m-0',
                              required: true,
                              autofocus: true,
                              autocomplete: 'off',
                              data: { controller: 'address', search_target: 'field',
                                      action: 'autocomplete-callback@window->address#autocomplete
                                              input->search#onFieldChange
                                              keydown->address#keydown' } %>

        <span class='m-2 hidden sm:block'>by</span>
        <%= form.collection_select :sort, sort_options, :second, :first,
                                   { selected: 'best' }, class: 'w-1/4 text-xs sm:text-sm rounded' %>
      <% end %>

      <%= tag.div class: 'flex justify-between items-center space-x-2 mb-2', data: { controller: 'date' } do %>
        <%= date_field_tag  :start, Time.zone.today,
                            min: Time.zone.today,
                            class: 'w-5/12 sm:w-1/2 text-xs sm:text-sm rounded',
                            autocomplete: 'off',
                            data: { date_target: 'start', action: 'change->date#updateEndDate' } %>

        <span class='text-sm sm:m-2'>to</span>
        <%= date_field_tag  :end, Time.zone.tomorrow,
                            min: Time.zone.today,
                            class: 'w-5/12 sm:w-1/2 text-xs sm:text-sm rounded',
                            autocomplete: 'off',
                            data: { date_target: 'end' } %>
      <% end %>
    <% end %>

    <%= render Core::DropdownComponent.new(title: 'Where would you like to go?') do %>
      <%= render Core::CheckboxComponent.new data: activity_data,
                                             prefix: 'activities',
                                             size: 1 %>
    <% end %>

    <%= render Core::DropdownComponent.new(title: 'Where would you like to eat?') do %>
      <%= render Core::CheckboxComponent.new data: restaurant_data,
                                             prefix: 'restaurants',
                                             size: 1 %>
    <% end %>

    <%= tag.div class: 'sm:flex flex-wrap justify-between items-center text-xs sm:text-sm px-2 sm:mb-4 sm:m-0' do %>
      <%= tag.div class: 'hidden sm:flex justify-between items-center mb-2' do %>
        <span class='font-bold mr-2'>BUDGET</span>
        <%= tag.div class: 'flex sm:justify-center text-sm' do %>
          <% [['$', '1'], ['$$', '1,2'], ['$$$', '1,2,3'], ['$$$$', '1,2,3,4']].each do |(label, value)| %>
            <%= tag.span class: 'flex items-center' do %>
              <%= radio_button_tag :budget, value, false, id: "budget_#{value[-1]}", class: 'hidden' %>
              <%= label_tag "budget_#{value[-1]}", label, class: 'text-slate-500 ml-2 sm:mr-2' %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= tag.div class: 'hidden sm:flex items-center justify-between sm:justify-center mb-2',
                            data: { controller: 'slider' } do %>
        <span class='sm:hidden font-bold'>RADIUS</span>
        <%= tag.div class: 'flex items-center justify-center' do %>
          <span data-slider-target='output' class='sm:mr-2'>15 km</span>
          <%= range_field_tag :distance, 15, in: 5..40, step: 5, class: 'ml-2 sm:mx-2',
                              data: { action: 'input->slider#update', slider_target: 'input' } %>
          <span class='hidden sm:block font-bold ml-2'>RADIUS</span>
        <% end %>
      <% end %>
    <% end %>

    <%= tag.div id: 'search-btn', class: 'py-2 text-center' do %>
      <%= render Sub::LoadingModalComponent.new(trigger: (form.submit 'SKEDADDLE',
                                                          data: { search_target: 'button', turbo: false },
                                                          class: 'btn')) %>
    <% end %>
  <% end %>
<% end %>
