<!DOCTYPE html>
<html>
  <head>
    <title>Skedaddle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9P6HMG7EM9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9P6HMG7EM9');
    </script>
  </head>

  <body>
    <div id="background-image"></div>

    <%= render DashboardComponent.new logged_in: current_user %>

    <div class="container mx-auto p-10 text-slate-700">
      <%= yield %>
    </div>
  </body>
</html>
