<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>

  <body>
    <%= render 'shared/header' %>

    <%= tag.div class: 'pt-16 p-6 text-slate-700' do %>
      <%= render Core::CarouselComponent.new do %>
        <%= turbo_frame_tag 'home' do %>
          <%= yield %>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
